.two-input {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-input input {
  border: 2px solid #458ff6;
  border-radius: 100px;
  width: 450px;
  height: 60px;
  margin: 20px 15px;
  padding: 0 15px;
}

.two-input input,
textarea::placeholder {
  color: rgba(21, 20, 57, 0.4);
  font-size: 16px;
}

.submit-btn {
  margin: 20px 0;
  text-align: center;
}

.submit-btn button {
  border-radius: 100px;
  background-color: var(--second-color);
  color: var(--main-color);
  cursor: pointer;
  padding: 15px 60px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.two-input input,
textarea:focus {
  outline: none;
}

.about {
  margin: 80px 0;
}

.info {
  /* text-align: center; */
  margin-right: 200px;
  margin-top: 100px;
}

.info h1 {
  color: var(--main-color);
  margin-bottom: 20px;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 40px 35px;
}

.card h1 {
  color: var(--second-color);
  text-align: center;
  margin-bottom: 20px;
}

.contact-infos div {
  display: flex;
  margin-top: 30px;
}

.contact-infos div p {
  margin-left: 10px;
}
